<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <connectionStrings>
    <add name="Hana" connectionString="Server=172.16.0.55:30015;CS=TEST_20161207;UserName=SYSTEM;Password=Ep*4321#" providerName="Sap.Data.Hana" />
  </connectionStrings>
</configuration>